@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = Context.Session.GetString("UserName") ?? "";
    var profile = Context.Session.GetString("Avatar") ?? "";
    var fullName = Context.Session.GetString("FullName") ?? "";
    var firstName = Context.Session.GetString("FirstName") ?? "";
    var lastName = Context.Session.GetString("LastName") ?? "";
    var email = Context.Session.GetString("Email") ?? "";
    var role = Context.Session.GetString("Roles") ?? "";
    string avatar = !string.IsNullOrEmpty(profile) ? profile : $"https://ui-avatars.com/api/?name={userName}&background=random&color=ffffff&size=32";
}

<h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Account Settings /</span> Account
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Security","Settings")"><i class="bx bx-lock-alt me-1"></i> Security</a>
            </li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Profile Details</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="@avatar"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <label for="upload" id="btnUpdateProfile" data-bs-toggle="modal" data-bs-target="#updateProfileModal" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                           
                        </label>

                        <p class="mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input class="form-control"
                                   type="text"
                                   id="firstName"
                                   name="firstName"
                                   value="@firstName"
                                   autofocus />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="@lastName" />
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        <button type="reset" class="btn btn-label-secondary">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                    </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                    <div class="form-check mb-3">
                        <input class="form-check-input"
                               type="checkbox"
                               name="accountActivation"
                               id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                    </div>
                    <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Update profile Modal -->
<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form id="updateProfileForm" class="modal-content border-0 rounded-4 shadow-sm">
            @Html.AntiForgeryToken()

            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-semibold">
                    <i class="bi bi-plus-circle me-2 text-primary"></i>Update Profile Photo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="Title" class="form-label fw-semibold">Judul</label>
                    <input type="file" class="form-control rounded-3" name="file" placeholder="" required />
                </div>
            </div>

            <div class="modal-footer border-0 pt-0">
                <button type="submit" id="saveProfile" class="btn btn-primary rounded-pill">
                    <i class="bi bi-save me-1"></i>Simpan
                </button>
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i>Batal
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
         // Update Profile photos
        $("#updateProfileForm").submit(function (e) {

            const $btn = $("#saveProfile");
            $btn.prop("disabled", true).html(`<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Menyimpan...`);

            
            var formData = new FormData(this);

            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Settings/UpdateProfilePhotos",
                data: formData,
                processData :false,
                contentType :false,
                success: function (response) {
                    if (response.success) {
                        // Tutup modal
                        $("#updateProfileModal").modal('hide');

                        // Force reload foto profil (cache-busting pakai timestamp)
                        var $img = $("#uploadedAvatar"); // id img profile di layout
                        var src = response.data; // ambil base url tanpa query
                        $img.attr("src", src);

                        // Kalau mau reload semua halaman (opsional)
                        // location.reload();
                    }
                },
                error: function(){
                    alert("failed to update profile");
                    $btn.prop("disabled", false).html(`<i class="bi bi-save me-1"></i>Simpan`);

                }
            });
        });
    </script>
}