@{
    var entries = ViewBag.Entries as List<NoteApp.Models.DailyEntry>;
    var noteTitle = ViewBag.NoteTitle as string;
    var queryDate = Context.Request.Query["date"].ToString(); // ambil dari query string
    string selectedDateStr = "";
    string viewDate = "";

    if (!string.IsNullOrEmpty(queryDate))
    {
        if (DateTime.TryParse(queryDate, out var parsedDate))
        {
            selectedDateStr = parsedDate.ToString("yyyy-MM-dd");
            viewDate = parsedDate.ToString("yyyy-MM-dd");
        }
    }
    else
    {
        selectedDateStr = DateTime.Today.ToString("yyyy-MM-dd"); // fallback jika tidak ada date
    }
    var userName = Context.Session.GetString("UserName") ?? "";
    var profile = Context.Session.GetString("Avatar") ?? "";
    var fullName = Context.Session.GetString("FullName") ?? "";
    var role = Context.Session.GetString("Roles") ?? "";
    string avatar = !string.IsNullOrEmpty(profile) ? profile : $"https://ui-avatars.com/api/?name={userName}&background=random&color=ffffff&size=32";
    var marginLeftStyle = !string.IsNullOrEmpty(userName) ? "margin-left: 220px;" : "margin-left: 0;";
    var marginLeftStyleFooter = !string.IsNullOrEmpty(userName) ? "padding-left:220px; background: #fff; z-index:9;" : "background: #fff; z-index:9;";
}

<!DOCTYPE html>

<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../../frest/assets/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard - El Thobhy</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3750/3750550.png" />

    <!-- Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />


    <!-- Icons -->
    <link rel="stylesheet" href="../../frest/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../frest/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../frest/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../frest/assets/vendor/libs/flatpickr/flatpickr.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../frest/assets/vendor/css/pages/app-logistics-dashboard.css" />
    <!-- Helpers -->
    <script src="../../frest/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../frest/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../frest/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @if (!string.IsNullOrEmpty(userName))
            {
                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        @if (entries != null && entries.Count > 0)
                        {
                            <span class="app-brand-logo demo">
                                <a href="/" class="app-brand-link">
                                    <i class="menu-icon tf-icons bi bi-house-door me-2"></i>
                                </a>
                            </span>
                        }
                        else
                        {
                            <span class="app-brand-logo demo">
                                <a href="/" class="app-brand-link">
                                    <i class="menu-icon tf-icons bi bi-stickies me-2 text-primary"></i>
                                </a>
                            </span>
                        }

                        
                        <span class="app-brand-text demo menu-text text-warning fw-bold ms-2">Note App</span>
                       

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
                            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-divider mt-0"></div>

                    <div class="menu-inner-shadow"></div>

                        <!-- Daily -->
                    @if (entries != null && entries.Count > 0)
                    {
                        <ul class="menu-inner py-1">
                            @foreach (var entry in entries)
                            {
                                <li class="menu-item  @(entry.Date == selectedDateStr ? "open active" : "")">
                                 <div class="d-flex align-items-center">
                                    <a href="/Note/Detail?id=@Model.Id&date=@entry.Date" class="menu-link d-flex align-items-center">
                                        <i class="menu-icon tf-icons bx bx-calendar"></i>
                                        <div data-i18n="@(string.IsNullOrEmpty(entry.Date) ? "" : Convert.ToDateTime(entry.Date).ToString("dddd dd MMM yyyy"))">
                                            @(string.IsNullOrEmpty(entry.Date) ? "" : Convert.ToDateTime(entry.Date).ToString("dddd dd MMM yyyy"))
                                        </div>
                                    </a>

                                    <p class="mb-0 px-2 d-flex align-items-center">
                                        <span class="ps-2 cursor-pointer"
                                                  onclick="event.stopPropagation(); openEditModalEntries(@entry.Id);">
                                            <i class="bi bi-pencil-square"></i>
                                        </span>
                                        <span class="text-danger ps-2  cursor-pointer"
                                                  onclick="event.stopPropagation(); openDeleteModalEntries(@entry.Id, '@(Convert.ToDateTime(entry.Date).ToString("dddd dd MMM yyyy"))');">
                                            <i class="bi bi-trash3"></i>
                                        </span>
                                    </p>
                                </div>

                                </li>
                            }
                            <li>
                                <a href="/" class="mt-4 text-white-50 text-decoration-none d-inline-block">
                                    <i class="bi bi-arrow-left-circle me-2"></i>Kembali
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="menu-inner flex-column">                 
                            <li class="menu-item active">
                                <a class="menu-link px-3 py-2 rounded-2"
                                    href="/">
                                    <i class="menu-icon tf-icons bi bi-house-door me-2"></i> Home
                                </a>
                            </li>
                        </ul>
                    }
                </aside>
            }
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @if (!string.IsNullOrEmpty(userName))
                {
                    <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
                        <div class="container-fluid">
                            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                    <i class="bx bx-menu bx-sm"></i>
                                </a>
                            </div>

                            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                                @if (entries != null && entries.Count > 0)
                                {
                                    <span class="app-brand-text demo menu-text">
                                        <button class="btn btn-primary rounded-pill rounded-4 px-3" data-bs-toggle="modal" data-bs-target="#addEntryModal">
                                            <i class="bi bi-calendar-plus"></i>&nbsp; Entry Baru
                                        </button>
                                    </span>
                                }
                                else
                                {
                                    <!-- Search -->
                                    <div class="navbar-nav align-items-center">
                                        <div class="nav-item navbar-search-wrapper mb-0">
                                            <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">
                                                <i class="bx bx-search-alt bx-sm"></i>
                                                <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /Search -->
                                }


                                <ul class="navbar-nav flex-row align-items-center ms-auto">
                                    <!-- Style Switcher -->
                                    <li class="nav-item me-2 me-xl-0">
                                        <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                                            <i class="bx bx-sm"></i>
                                        </a>
                                    </li>
                                    <!--/ Style Switcher -->
                                    <!-- User -->
                                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                            <div class="avatar avatar-online">
                                                <img src="@avatar" class="rounded-circle" width="32" height="32" alt="Avatar" />
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="pages-account-settings-account.html">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar avatar-online">
                                                                <img src="@avatar" class="rounded-circle" width="32" height="32" alt="Avatar" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <span class="fw-semibold d-block lh-1">John Doe</span>
                                                            <small>Admin</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="pages-profile-user.html">
                                                    <i class="bx bx-user me-2"></i>
                                                    <span class="align-middle">My Profile</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="pages-account-settings-account.html">
                                                    <i class="bx bx-cog me-2"></i>
                                                    <span class="align-middle">Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <form asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="dropdown-item m-0 p-0">
                                                    <button type="submit" class="btn btn-link dropdown-item">Logout</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--/ User -->
                                </ul>
                            </div>

                            <!-- Search Small Screens -->
                            <div class="navbar-search-wrapper search-input-wrapper d-none">
                                <input type="text"
                                       class="form-control search-input container-fluid border-0"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                                <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
                            </div>
                        </div>
                    </nav>
                }

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        </div>
                    </footer>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>

                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- Modals -->
    <div id="modalContainer">
        @await Html.PartialAsync("_NoteModals", new Note())
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../frest/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../frest/assets/vendor/libs/popper/popper.js"></script>
    <script src="../../frest/assets/vendor/js/bootstrap.js"></script>
    <script src="../../frest/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../frest/assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../frest/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../frest/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../frest/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../../frest/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../../frest/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="../../frest/assets/vendor/libs/moment/moment.js"></script>

    <!-- Main JS -->
    <script src="../../frest/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../frest/assets/js/app-logistics-dashboard.js"></script>

    <script src="~/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="../../frest/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script>
        function openEditModalEntries(id) {
            $.get(`/Note/EditDate/${id}`, function (html) {
                $("#editModalContentEntries").html(html);
                $("#editModalEntries").modal('show');
            });
        }

        // OPEN Delete Modal
        function openDeleteModalEntries(id, date) {
            $("#deleteNoteIdEntries").val(id);
            $("#deleteNoteTitleEntries").text(date);
            $("#deleteModalEntries").modal('show');
        }

        // DELETE Note
        $("#deleteNoteFormEntries").submit(function (e) {
            //loading spinner
            const $btn = $("#deleteBtnEntries");
            const originalHtml = $btn.html();
            $btn.prop("disabled", true).html(`<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Menyimpan...`);

            e.preventDefault();
            const id = $("#deleteNoteIdEntries").val();
            $.post("/Note/DeleteEntry?id="+ id, function () {
              
                location.reload();
                $("#deleteModalEntries").modal('hide');
            });
        });


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
